*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
.main .top h1{
  font-family: "Dongle";
  padding-left: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 70px;
}

body{
    background-color: rgb(253, 251, 240);
    color: rgb(62, 7, 3);
    font-family: 'Montserrat';  
    box-sizing: border-box; 
}

.netxuan1 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    background-color: #FCF9EA;
}

.netxuan1,
.netxuan2 {
    display: flex;
    align-items: flex-start; 
    width: 900px;
    margin: 30px auto; 
    gap: 30px; 
    padding: 39px 20px 50px; 
}


.netxuan1 p, 
.netxuan2 p {
    width: 60%; 
    margin-top: 20px; 
    font-size: 18px;
    line-height: 1.6;
    text-align: justify; 
}




@media (max-width: 992px) {
    .netxuan1,
    .netxuan2 {
        width: 95%; 
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .netxuan1,
    .netxuan2 {
        flex-direction: column !important; 
        align-items: center;
        width: 95%; 
        margin: 20px auto;
        gap: 0;
    }

    
    .netxuan1 img, .netxuan2 img, 
    .netxuan1 p, .netxuan2 p p {
        width: 100%; 
    }
    
    .netxuan1 img, .netxuan2 img {
        max-height: none; 
    }

    .netxuan1 p, .netxuan2 p {
         margin-top: 15px; 
         font-size: 16px;
    }
}

.content img{
    width: 470px;
  height: auto;
  max-height: 260px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    
}

.content p{
    margin-top: 20px;
    width: 600px;
    font-size: 18px;
    line-height: 1.6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Dongle" ;

    padding-left: 20px;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 24px;

    position: sticky;
    top: 0;
    background-color: rgb(253, 251, 240);

}

.navbar a{
  text-decoration: none;
  color: rgb(62, 7, 3);
  font-size: 20px;
}

.navbar a:hover {
    color: rgb(168, 41, 41);
}

.header .left .note h3{
  font-family: "Dongle";
}

.header .left .logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header .left .note{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.header .left{
    display: flex;
    align-items: center;
    
}

.footer{
    background-color: rgb(163, 29, 29);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.footer .info a, .footer .Home a{
    text-decoration: none;
    color: rgb(62, 7, 3);
}

.footer .info p{
    
    font-size: 10px;
    margin-bottom: 10px;
}

.footer .in4clb {
    display: flex;
    flex-direction: row;
}

.footer .in4clb a + a {
    margin-left: 20px;
}

@media (max-width: 992px) {
  .content p {
    width: 80%;
    font-size: 17px;
  }

  .content img {
    width: 80%;
    max-height: none;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navbar a {
    font-size: 16px;
  }
}


@media (max-width: 768px) {

  .header {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar {
    margin-top: 12px;
  }

  h1 {
    font-size: 26px;
    text-align: center;
  }

  .content img {
    width: 90%;
  }

  .content p {
    width: 90%;
    font-size: 16px;
    line-height: 1.5;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer .in4clb {
    margin-top: 10px;
    justify-content: center;
  }
}


@media (max-width: 480px) {

  .header .left .logo img {
    height: 40px;
    width: 40px;
  }

  .header .left .note h3 {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  .content p {
    font-size: 15px;
  }

  .footer .in4clb h5 {
    font-size: 14px;
  }
}


 